* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: cadetblue;
  width: 100vw;
  height: 100vh;
  display: flex;

  header {
    h1 {
      position: absolute;
      transform: translate(-50%, 0%);
      left: 50%;
      top: 5%;
      color: antiquewhite;
      background-color: black;
      font-size: 5rem;
      padding: 0.5rem 3rem;
      border-radius: 10rem;

      white-space: nowrap;
    }
  }

  .info-cta-container {
    position: relative;
    flex: 1;
    
    display: flex;
    justify-content: space-around;
    align-items: center;


    section.info-card {
    position: relative;
    // bottom: 45%;
    // left: 25%;
    // transform: translate(-50%, 50%);
    width: 25%;
    height: 50%;
    margin-right: 0;

      .front-card {
        position: absolute;
        background-color: plum;
        padding: 10px 20px;
        height: 100%;
        width: 100%;
        z-index: 2;

        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
      }

      .backer-card {
        position: absolute;
        background-color: black;
        transform: rotate(-20deg);
        height: 100%;
        width: 100%;
      }
    }

    section.cta {
      position: relative;
      //transform: translate(50%, 50%);
      width: 40%;
      background-color: darkgray;
      //right: 30%;
      //bottom: 50%;
      padding: 1rem 1.5rem;

      margin: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      h2 {
        font-size: 3rem;
        text-align: center;
      }

      button {
      font-size: 4rem;
      }
    }
  }

  

  
}