@import (less) "../../node_modules/normalize.css/normalize.css";

@import './variables.less';
@import './header.less';
@import './cta.less';

@import '../components/ImageSlide/image.less';
@import '../components/Card/Card.less';
@import '../components/SlideTracker/SlideTracker.less';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Montserrat', sans-serif;

  h1, h2 {
    font-family: 'Courgette', cursive;
  }

  section.info-cta-container {
    position: relative;
    flex: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5% 3% 0;
  }

  .hidden {
    display: none;
  }
}