@import (less) "../../node_modules/normalize.css/normalize.css";

@import './variables.less';
@import './header.less';
@import './cta.less';

@import '../components/ImageSlide/image.less';
@import '../components/Card/Card.less';
@import '../components/SlideTracker/SlideTracker.less';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;

  h1, h2 {
    font-family: 'Courgette', cursive;
  }

  section.content-container {
    position: relative;
    flex: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3% 0;

    @media @tablet-large {
      flex-direction: column;
    }
  }

  .hidden {
    display: none;
  }
}