@import (less) "../../node_modules/normalize.css/normalize.css";

@import './variables.less';
@import './header.less';
@import './cta.less';

@import '../components/ImageSlide/image.less';
@import '../components/Card/Card.less';
@import '../components/SlideTracker/SlideTracker.less';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before, &::after {
    box-sizing: border-box;
  }
}

html, body {
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  @media @tablet-large {
    height: auto;
  }

  h1, h2 {
    font-family: 'Courgette', cursive;
  }

  section.content-container {
    height: 100%;
    position: relative;
    flex: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;

    width: 100vw;
    /* I had a very odd bug when I introduced Greensock.  During tweens, many elements unrelated to the animation would shrink and shift
       left by a small (but noticable) amount.  Still not sure why.  But setting their width to 100vw seems to solve it.  Particularly odd
       and frustrating because the animation is entirely related to position, it should not affect the width of anything.*/
    
    @media @tablet-large {
      flex-direction: column;
      padding: 0 20%;
      padding-bottom: 4rem;
    }

    @media @tablet {
      padding: 0 12.5%;
    }
    
    @media @phone-large {
      padding: 0 5%;
    }

    @media @phone-small {
      padding-bottom: 2rem;
    }

  }

  .hidden {
    display: none;
  }
}